*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    position: relative;
}

#container{
    display: flex;
}

.formfield{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
.formfield form{
    display: flex;
    flex-direction: column;
  ;
}

.card-front {
    position: absolute;
    top: 0;
    left: 0;
}
.card-back {
    position: absolute;
    top: 40%;
    left: 5%;
}

.bg-img{
    height: 100vh;
}